<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spectrum.crm.dao.UserDao">
    <select id="selectUserIdsequence">
		SELECT user_id_seq.NEXTVAL FROM DUAL
	</select>

    <select id="selectUserInfoByIdNo" resultType="com.spectrum.crm.data.User">
		SELECT * FROM user where id_no = #{idNo}
	</select>

	<select id="list" resultType="com.spectrum.crm.data.User">
		SELECT * FROM user
	</select>
</mapper>